body{
    background-color: #424441;
    color: rgb(245, 245, 245);
}

.maincont{
    background-color: bisque;
}


.carrer{
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

.final{
    /* position: absolute; */
    bottom: 2%;
    width: 100%; /* Ajusta a largura da linha */
    background-color: rgb(30, 156, 25);
}

.topic{
    background-color:rgb(30, 156, 25);
    width: 20%;
}

nav {
    background-color: #37d151;
}

nav ul {
    /*display: table; - removido*/
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    width: 100%;
}

nav ul li {
    list-style-type: none;
    /*display: table-cell; - removido
    width: 25%; - removido*/
    text-align: center;
    font-weight: bold;
    width: 100%;
}

nav ul li:hover {
    background-color: rgb(126, 248, 126);
}

nav ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
}

nav ul li a:hover {
    color: white;
}

.container{
    height: 60vh;
    background-color: #58585a;
    padding: 30px;
}


.ant{
    text-decoration: none;
    color: white;
}

.ant:hover{
    color:  black;
    background-color: rgb(57, 199, 35);
}
.prox{
    text-decoration: none;
    color: white;
    /* margin-left: 80%; */
    position: absolute;
    right: 0;
}
.prox:hover{
    color:  black;
    background-color: rgb(57, 199, 35);
}

.nome{
    text-align: center;
    text-decoration: underline;
}







@media screen and (max-width: 992px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: #424441;
        color: rgb(245, 245, 245);
        overflow-x: hidden;
    }
    
    .container {
        height: 5vh;
        background-color: #58585a;
        padding: 5px;
        position: relative;
        min-height: 90vh;
    }
    
    .carrer {
        padding: 15px;
    }

    .carrer p {
        font-size: 16px;
        line-height: 1.6;
    }

    .final {
        position: fixed;
        width: 90%; /* Ajusta a largura da linha */
        background-color: rgb(30, 156, 25);
    }

    .prox {
        position: absolute;
        right: 0;
    }
    .ant {
        text-decoration: none;
        color: white;
        margin-left: 1%;
    }

    .topic {
        background-color: rgb(30, 156, 25);
        width: 40%;
        margin-left: 1%;
    }

    nav {
        background-color: #37d151;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    
    nav ul li {
        list-style-type: none;
        text-align: center;
        font-weight: bold;
        width: 70%;
    }


    
    table {
        width: 100%; /* Garante que a tabela ocupe 100% da largura do contêiner */
        max-width: 100%; /* Garante que a tabela não ultrapasse a largura do contêiner */
    }


}




@media screen and (max-width: 667px) {
    .container{
        height: 100vh;
        background-color: #58585a;
        padding: 11px;
        position: relative;
        min-height: 100vh;
    }
    
    .carrer {
        padding: 2px;
    }

    .carrer p {
        font-size: 14px;
        line-height: 1.5;
        position: relative;
    }

    .final{
        position:fixed;
        width: 96%; 
        background-color: rgb(30, 156, 25);
        
        
    }
    .prox{
        margin-left: 28%;
    }
    .ant{
        text-decoration: none;
        color: white;
        margin-left: 1%;
    }

    .topic{
        background-color:rgb(30, 156, 25);
        width: 40%;
        margin-left: 1%;
    }

    nav {
        background-color: #37d151;
    }
    
    nav ul {
        /*display: table; - removido*/
        display:flex; /*flex aqui - novo*/
        justify-content:center; /*e distribuição de espaço aqui - novo*/
        width: 90%;
    }
    
    nav ul li {
        list-style-type: none;
        /*display: table-cell; - removido
        width: 25%; - removido */
        text-align: center;
        font-weight: bold;
        width: 70%;
    }
    .nome{
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
    }
    .topic-exp{
        background-color: rgb(30, 156, 25);
        width: 75%;
        margin-left: 1%;
    }

}