<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="../css/contact.css">
</head>
<nav>
    <ul>
        <li><a href="experience.html">Experiências</a></li>
        <li><a href="training.html">Formação</a></li>
        <li><a href="projetos.html">Projetos</a></li>
        <li><a href="../index.html">Inicio</a></li>
    </ul>
</nav>
<body>
<div>
    <table class="contact">
        <td class="cel">Celular: (41)99619-6508</td>
        <td>Email: roiko2010@gmail.com</td>
        <td></td>
        <td><a href="https://linkedin.com/in/felipe-roiko" target="_blank">LinkedIn</a></td>
        <td><a href="https://github.com/Felipe-Rk" target="_blank">Portifólio</a></td>
        <td><a href="https://wa.me/+5541996196508" target="_blank">Whastsapp</a></td>
    </table>
</div>
<div class="container">
    <form class="forms">
        <h4>Prencha o formulário com sua solicitação para contato</h4>
        <input id="nome" type="text" name="nome" placeholder="Digite seu nome aqui">
        <input id="email" type="email" name="email" placeholder="Digite seu email aqui">
        <input id="telefone" type="tel" name="telefone" placeholder="Digite seu telefone aqui">
        <input id="solicitacao" type="text" name="solicitação" placeholder="Digite sua Solicitação aqui">
        <button id="enviar">Enviar</button>
    </form>
</div>
<div class="final"style="position: absolute;">
    <a class="ant" href="projetos.html"><<< pagina anterior</a>
    <a class="prox" href="../index.html">inicio >>></a>
</div>
</body>
<script>
    document.addEventListener('keydown',function(e){
        if(e.keyCode === 13){
            e.preventDefault();
        }
        });


    document.getElementById('enviar').addEventListener('click', function(event) {
        event.preventDefault(); 
        const nome = document.getElementById('nome').value;
        const email = document.getElementById('email').value;
        const telefone = document.getElementById('telefone').value;
        const solicitacao = document.getElementById('solicitacao').value;
    
        const mensagem = `Nome: ${nome}\nEmail: ${email}\nTelefone: ${telefone}\nSolicitação: ${solicitacao}`;
        const encodedMessage = encodeURIComponent(mensagem);
        const url = `https://api.whatsapp.com/send/?phone=+5541996196508&text=${encodedMessage}`;

        window.open(url, '_blank').focus();

   

    });

    </script>
</html>