<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="../css/unico.css">
</head>
<nav>
    <ul>
        <li><a href="experience.html">Experiências</a></li>
        <li><a href="training.html">Formação</a></li>
        <li><a href="../index.html">Inicio</a></li>
    </ul>
</nav>
<body>
<div>
    <table class="contact">
        <td>Telefone: (41)99619-6508</td>
        <td>Email: roiko2010@gmail.com</td>
        <td></td>
        <td><a href="www.linkedin.com/in/felipe-roiko">LinkedIn</a></td>
        <td><a href="github.com/Felipe-Rk">Portifólio</a></td>
        <td><a href="https://wa.me/+5541996196508">Whastsapp</a></td>
    </table>
</div>
<div>
    <form class="forms">
        <h4>Prencha o formulário com sua solicitação para contato</h4>
        <!-- Adicione os IDs para os inputs -->
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome aqui">
        <input type="email" id="email" name="email" placeholder="Digite seu email aqui">
        <input type="tel" id="telefone" name="telefone" placeholder="Digite seu telefone aqui">
        <input type="text" id="solicitacao" name="solicitação" placeholder="Digite sua Solicitação aqui">
        <!-- Mude o botão para tipo button -->
        <button type="button" id="enviar">Enviar</button>
    </form>
</div>
<div class="final" style="position: absolute;">
    <a class="ant" href="experience.html"><<< pagina anterior</a>
    <a class="prox" href="../index.html">inicio >>></a>
</div>
</body>
<script>
document.getElementById('enviar').addEventListener('click', function() {
    var nome = document.getElementById('nome').value;
    var email = document.getElementById('email').value;
    var telefone = document.getElementById('telefone').value;
    var solicitacao = document.getElementById('solicitacao').value;

    var mensagem = `Nome: ${nome}\nEmail: ${email}\nTelefone: ${telefone}\nSolicitação: ${solicitacao}`;
    var url = `https://api.whatsapp.com/send?phone=5541996196508&text=${encodeURIComponent(mensagem)}`;

    window.open(url, '_blank');
});
</script>
</html>
