<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiências Profissionais</title>
    <link rel="stylesheet" type="text/css" href="css/unico.css">
</head>
<!-- definição de topo com acessos -->
<nav>
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="templates/training.html">Formação</a></li>
        <li><a href="templates/contact.html">Contato</a></li>
    </ul>
</nav>

<body>
<!-- definição de tabelas para experiências -->
<div>
    <h4 class="topic">EXPERIENCIAS PROFISSIONAIS</h4>
</div>
<div  class="exp">
    <table>
        <table>
            <tr>
                <th>Assembléia Legislativa do Estado do Paraná (ALEP) · Tempo integral</th>
                <th class="data">Jun de 2024 - Atual</th>
                <th>Desenvolvedor full stack</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>- Python</td>
                <td>- MongoDB</td>
                <td>- Flask</td>
                <td>- JavaScript</td>
                <td>- Css</td>
                <td>- Html</td>
                <td>- WebSocket</td>
                <td>- Jinja</td>
                <td>- Ajax</td>
                <td>- Requests</td>
                <td>- TensorFlow</td>
                <td>- BootStraps</td>
                <td>- Cloud</td>
                <td>- GitHub</td>
                <td>- Desenvolvimento e atualização de sistemas locais e nuvem.</td>
                <td>- Teste de lógicas, Novas implementações, Atualizações</td>
            </tr>
        </table>
        <p class="divisoria">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <table>
            <tr>
                <th>Construtora e Incorporadora Pride S.A.</th>
                <th class="data">Fevereiro de 2024 - Maio de 2024 </th>
                <th>Analista de suporte de TI</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>- Suporte Nível 1/Nível 2 para Office 365, Criação de Contas AD, OneDrive, SharePoint e Bloqueio</td>
                <td>- Administração de Contas e AD</td>
                <td>- Suporte Nível 1/Nível 2 para Rede Wi-Fi, Impressoras, Celulares, Preparação de Máquinas,
                    Configuração do Windows, Configuração NVoip, Controle de Parque, Controle de Celulares e
                    Tablets</td>
                <td>- Suporte Nível 1 para Sistemas ERP</td>
                <td>- Pedido de Manutenção</td>
                <td>- Pedido de Compras, Recebimento de Materiais, Geração de Pedidos de Compras, Controle de
                    Contratos</td>
                <td>- Lançamento de Faturas de TI, Geração de Indicadores de TI, Controle de Orçamentos</td>
                <td>- Suporte a Eventos</td>
                <td>- Mobuss – Atualização/Criação de Manuais</td>
                <td>- Controle de Licenças para Autodesk, Sketchup, Adobe, NVoip, Bimcollab, Atendimento de
                    Chamados Remotos e Presenciais</td>
                <td>- Firewall – Implementação/Configuração/Administração – Interface/DNS</td>
                <td>- Firewall Policy/Virtual Ips/Ip Pools/SSL-SSH/VPN/LDAP/Radius/Single Sign-On/Logs.</td>
            </tr>
        </table>
        <p class="divisoria">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>        <table>
            <tr>
                <th>Cima Empreendimentos LTDA</th>
                <th class="data">Agosto de 2022 - Fevereiro de 2024</th>
                <th>Assistente de TI</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>- Apoio ao cliente, à diretoria e suporte remoto às filiais</td>
                <td>- Planejamento e implementação de redes e infraestrutura</td>
                <td>- Manutenção de servidores e computadores</td>
                <td>- Configuração e instalação de relógios de ponto</td>
                <td>- Configuração e monitoramento de câmeras de segurança</td>
                <td>- Gestão do sistema de segurança interno (Kaspersky)</td>
                <td>- Planejamento, orçamento e aquisição de equipamentos de TI</td>
                <td>- Registro de orçamentos e faturas no sistema ERP (Mega ERP)</td>
                <td>- Controle de estoque</td>
                <td>- Gestão de acesso e usuários de acordo com a LGPD</td>
                <td>- Configuração e gestão de licenças</td>
            </tr>
        </table>
        <p class="divisoria">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>        <table>
            <tr>
                <th>Roiko Infotec</th>
                <th class="data">Janeiro de 2016 - Agosto de 2022</th>
                <th>Autônomo</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>- Trabalhador independente no setor de Tecnologia da Informação</td>
                <td>- Responsável pela gestão completa da empresa</td>
                <td>- Realização de manutenção em equipamentos eletrônicos</td>
                <td>- Vendas online</td>
                <td>- Elaboração de anúncios e propagandas</td>
                <td>- Elaboração de orçamentos, criação de ordens de serviço e emissão de notas fiscais</td>
                <td>- Gerenciamento de estoque e finanças</td>
                <td>- Prestação de suporte remoto a empresas e clientes.</td>
            </tr>
        </table>
        <p class="divisoria">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>        <table>
            <tr>
                <th>Vista Grossa Comércio de Serviços de Informática</th>
                <th class="data">Janeiro de 2015 - Outubro de 2018</th>
                <th>Atendente</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>- Oferecer atendimento e suporte excepcionais aos clientes</td>
                <td>- Realizar manutenção de computadores e servidores</td>
                <td>- Gerenciar vendas e orçamentos de acessórios</td>
                <td>- Responsável pela abertura e fechamento de caixa</td>
                <td>- Gerir vendas online.</td>
            </tr>
        </table>
        <br>
    </table>
</div>
<div class="final" >
    <a class="ant" href="templates/training.html"><<< pagina anterior</a>
    <a class="prox" href="templates/contact.html">próxima pagina >>></a>
</div>
</body>
</html>
