<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" type="text/css" href="../css/projetos.css">
</head>
<nav>
    <ul>
        <li><a href="../index.html">Início</a></li>
        <li><a href="experience.html">Experiências</a></li>
        <li><a href="training.html">Formação</a></li>
        <li><a href="contact.html">Contato</a></li>
        
    </ul>
</nav>
<body>

<div class="container">
<h1>Error 404</h1>
<h2>Brincadeira... Página em desenvolvimento</h2>
</div>

<div class="final"style="position: absolute;">
    <a class="ant" href="training.html"><<< pagina anterior</a>
    <a class="prox" href="contact.html">inicio >>></a>
</div>
</body>
</html>