<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formações</title>
    <link rel="stylesheet" type="text/css" href="css/unico.css">
</head>
<nav>
    <ul>
        <li><a href="#experience.html">Experiências</a></li>
        <li><a href="#index.html">Inicio</a></li>
        <li><a href="#contact.html">Contato</a></li>
    </ul>
</nav>

<body>
 
<div>
    <h4 class="topic">Formação Academica</h4>
</div>
<br>
<div>
    <table>
        <tr>
           <th>Análise e desenvolvimento de sistemas</th> 
        </tr>
        <tr>
            <td>Centro Universitário Internacional Uninter</td>
            <td>outubro 2023 - Atualmente</td>
            <td>Segundo período</td>
        </tr>
    </table>
</div>
<br>
<div>
    <h4 class="topic">Certificados</h4>
    <table>
        <tr>
            <th>Linguagem Python</th>
            <td>68h</td>
        </tr>
        <tr>
            <th>Programação Orientada a Objetos (POO)</th>
            <td>5h</td>
        </tr>
        <tr>
            <th>Lógica de programação</th>
            <td>15h</td>
        </tr>
        <tr>
            <th>NDG Linux Unhatched</th>
            <td>8h</td>
        </tr>
        <tr>
            <th>Microsoft Power Bi</th>
            <td>5h</td>
        </tr>
        <tr>
            <th>Redes de computadores</th>
            <td>15h</td>
        </tr>
    </table>
</div>
<br>
<div>
    <h4 class="topic">Validação de certificados</h4>
</div>
<div style="background-color: rgb(30, 156, 25); width: 10%;">passe para lado</div>
<div class="carrosel">
    <img src="img/hard.jpg" alt="hardware">
    <img src="img/logica.jpg" alt="logica de prog.">
    <img src="img/ndg.jpg" alt="Linux">
    <img src="img/python.jpg" alt="Python">
    <img src="img/redes.jpg" alt="Redes de comp.">
</div>
<br>
<div class="final" >
    <a class="ant" href="#index.html"><<< pagina anterior</a>
    <a class="prox" href="#experience.html">próxima pagina >>></a>
</div>
</body>
</html>